<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title style="font-size: 28px;">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImageURL}} alt={{movie.Title}} style="max-width:400px" />
    <mat-card-actions>
      <button mat-button color="primary">
        Genre
      </button>
      <button mat-button color="primary">
        Director
      </button>

      <button mat-stroked-button (click)="openMovieSynopsis(movie.Title, movie.Description)" color="primary">
        Synopsis
      </button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>