<app-nav-bar></app-nav-bar>

<div class="wrapper">
  <h1>Favorite movies</h1>
  <div class="movie-container">
    <mat-card class="custom-card" *ngFor="let movie of movies">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">{{
          movie.title
          }}</mat-card-title>
      </mat-card-header>
      <mat-card-content [style.margin]="'0'" class="custom-card-content">
        <img mat-card-image src="{{ movie.imagePath }}" alt="{{ movie.title }}" />
      </mat-card-content>
      <mat-card-actions class="custom-card-actions">
        <div>
          <button mat-icon-button (click)="toggleFavoriteMovie(movie._id, movie.title)" style="margin: 0.5rem 1rem"
            color="primary" matTooltip="Add to Favorites list" aria-label="Add to Favorites list">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>